.p-datepicker{
    background: var(--primary-800) !important;
}
form{
    padding: 1rem;
    margin: 1rem;
}
form div{
    margin: 1rem;
}

.p-component{
    margin: 0;
}

h2{
    margin: 2rem;
    font-size: 1.5rem;
    color: var(--primary-900);
}